// Colors

$color-neutral-light: #ebebeb;
$color-neutral: #cad2c5;
$color-dark: #52489c;
$color-primary: #59c3c3;
$color-secondary: #84a98c;

$color-links: $color-primary;

// Fonts
$fonts-serif: Georgia, "Times New Roman", serif;
$fonts-sans-serif: "Open Sans", Arial, sans-serif;
$font-size-base: 1rem;

// Other
$border-radius: 5px;
$padding-sm: 10px;
